<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
	<channel>
		<title>lmke.dev Blog</title>
		<description>Mein persönlicher Blog</description>
		<link>https://lmke.dev/blog</link>
		<language>de-DE</language>
		<copyright>Copyright {{ year }}</copyright>
		<generator>sveltekit</generator>

		{% for article in articles %}
			<item>
				<title>{{ article.title }}</title>
				<link>https://lmke.dev/blog/{{ article.id }}/{{article.slug}}</link>
				<guid isPermaLink="true">https://lmke.dev/blog/{{ article.id }}/{{article.slug}}</guid>
				<dc:creator>{{article.user_created.first_name}} {{article.user_created.last_name}}</dc:creator>
				<pubDate>{{ article.formatted_date_published  }}</pubDate>
				<description>{{ article.description }}</description>
				{% for topic in article.topics %}
					<category>{{ topic.topic.name }}</category>
				{% endfor %}
				<enclosure type="image/jpeg" url="{{ article.image_url }}"></enclosure>
			</item>
		{% endfor %}
	</channel>
</rss>